<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
		
		body
		{
			background-image:url(./../img/长颈鹿.jpg);
			margin-left: 550px;
			margin-top: 150;
		}
	
		
	</style>
	<body>
		<table border="1px">
			<!--mysqli_fetch_assoc()：获取一行结果，并以关联数组返回-->
         <tr>		
         	<td>建议编号：</td><td>顾客编号：</td><td>用户意见反馈：</td></tr>
		<?php while($row=mysqli_fetch_assoc($result)) :?> <!--替代语法  ：代替左花括号    endif; endwhile;等等代替右花括号，为了区分流程语句的开始和结束位置-->
				
			<tr>
				<td>
					<?=$row['id']?><!--短标记输出语法，在HTML嵌入PHP变量使用 -->
				</td>
			 <td>
					<?=$row['customerID']?>
				</td>
				<td>
					<?=$row['suggestion'] ?>
				</td>

				
			</tr>
			
			<?php endwhile;?>
			
				<?php if($page>1):?>
					<a href="./cusuggestion.php?p=1">首页</a>
				    <a href="./cusuggestion.php?p=<?=($page-1)?>">上一页</a>
				<?php endif;?>
					
				<?php if($page<$totalPage):?>
					<a href="./cusuggestion.php?p=<?=($page+1) ?>">下一页</a>
				    <a href="./cusuggestion.php?p=<?=$totalPage ?>">尾页</a>
				<?php endif;?>
					
					<span>共<?=$row2[0]; ?>条记录，当前第<?=$page ?>页,共<?=$totalPage?>页</span>
					<form name="banner" method="get" action="/bookstore/admin/cusuggestion.php">
						到<input type="text" size="2" name="p" />
						<input type="submit" value="确定" />
					</form>
			</table>
			
	</body>
</html>
