<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户评论页面</title>
	</head>
	<style>
		h1
		{
			text-align: center;
			color: palevioletred;
		}
		body{
			margin-left: 100px;
			margin-right: 100px;
		}
		img{
			border-radius: 55%;
		}
	</style>
	
	<body>
		<div style ="height:470px;">
			<h1>用户评论页面</h1>
		


			
<hr /> 
	<img src="../img/花花.jpg" width="80" height="80" />
    <span style="color:#F60">小明<span>
    <span style="font-size:20px;color:#999">&nbsp;&nbsp;&nbsp;&nbsp;2018-4-2 15:38:37</span>
    <br />
   
    <span style="font-size:20px;color:#000">第一次购买，太让我们惊喜了！真的很不错！第一次购买，太让我们惊喜了！真的很不错！货收到，上档次,包装很好,宝贝真心不错啊.上次去实体店看,这种的都要90元啊,还好没有下手买.真是物超所值啊,</span>
    <br/>
	<span style="font-size:20px;color:#F60">来自：淘宝网 www.taobao.com</span>
    <hr  />
  	<img src="../img/瓶子.jpg" width="80" height="80" />
    <span style="color:#F60">天天<span>
    <span style="font-size:20px;color:#999">&nbsp;&nbsp;&nbsp;&nbsp;2018-3-2 15:05:37</span>
    <br />

    <span style="font-size:20px;color:#000">第一次购买，太让我们惊喜了！真的很不错！第一次购买，太让我们惊喜了！真的很不错！货收到，上档次,包装很好,宝贝真心不错啊.上次去实体店看,这种的都要90元啊,还好没有下手买.真是物超所值啊,</span>
    <br/>
	<span style="font-size:20px;color:#F60">来自：淘宝网 www.taobao.com</span>
    <hr />
  	<img src="../img/铁塔.jpg" width="80" height="80" /> <span style="color:#F60">夏夏<span>
    <span style="font-size:20px;color:#999">&nbsp;&nbsp;&nbsp;&nbsp;2018-2-14 10:38:36</span>
    <br />
 
    <span style="font-size:20px;color:#000">第一次购买，太让我们惊喜了！真的很不错！第一次购买，太让我们惊喜了！真的很不错！货收到，上档次,包装很好,宝贝真心不错啊.上次去实体店看,这种的都要90元啊,还好没有下手买.真是物超所值啊,</span>
    <br/>
	<span style="font-size:20px;color:#F60">来自：淘宝网 www.taobao.com</span>
    
    <hr /> 
	<img src="../img/瓶子.jpg" width="80" height="80" />
    <span style="color:#F60">swfw<span>
    <span style="font-size:20px;color:#999">&nbsp;&nbsp;&nbsp;&nbsp;2018-4-2 15:38:37</span>
    <br />

</div> 
 
	</body>
</html>
