<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
		h1{
			color: palevioletred;
			text-align: center;
		}
		table{
			margin-left: 230px;
		}
		span{
			
			margin-left: 230px;
		}
		 a{
			text-decoration: none;
		}
		a:hover
		{
			color: plum;
		}
	</style>
	<body>
		<h1>社会、经济、科学、管理</h1>
		<hr />
		<table border="1px">
			<!--mysqli_fetch_assoc()：获取一行结果，并以关联数组返回-->
         <tr>		
         	<td>图书号：</td><td>图书名：</td><td>出版社:</td><td>图书编号：</td><td>价格：</td><td>种类：</td><td>是否打折：</td><td>图片：</td><td>顾客操作：</td></tr>
		<?php while($row=mysqli_fetch_assoc($result)) :?>
			<tr>
				<td>
					<?=$row['bookID']?>
				</td>
				<td>
					<?=$row['bookName']?>
				</td>
				<td>
					<?=$row['brand']?>
				</td>
				<td>
					<?=$row['bookNum']?>
				</td>
				<td>
					<?=$row['price']?>
				</td>
				<td>
					<?=$row['kind']?>
				</td>
				
				<td>
					<?=$row['discount']?>
				</td>
				<td>
				<img src="<?=$row['photo']?>">
				</td>
				<td><a href="/bookstore/admin/book_update.php?id=<?=$row['bookID'] ?>">查看书本信息</a></td>
			</tr>
			
			<?php endwhile;?>
		
				<?php if($page>1):?>
					<a href="/bookstore/social.php?p=1">首页</a>
				    <a href="/bookstore/social.php?p=<?=($page-1)?>">上一页</a>
				<?php endif;?>
					
				<?php if($page<$totalPage):?>
					<a href="/bookstore/social.php?p=<?=($page+1) ?>">下一页</a>
				    <a href="/bookstore/social.php?p=<?=$totalPage ?>">尾页</a>
				<?php endif;?>
					
					<span>共<?=$row2[0]; ?>条记录，当前第<?=$page ?>页,共<?=$totalPage?>页</span>
					<form name="banner" method="get" action="/bookstore/social.php">
						到<input type="text" size="2" name="p" />
						<input type="submit" value="确定" />
					</form>
					<button><a href="/bookstore/book.php">返回</a></button>
			</table>
	</body>
</html>
